body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

html {
  scroll-behavior: smooth;
}

#mob-menu {
  position: fixed;
  top: 20;
  height: calc(100vh - 80px);
}